:root {
    --border: 10px;
    --small-border: 5px;
    --shadow: 4px 4px 4px 2px;
    --light-khaki: #f9f86c;
    --bg-dark: #F6F5F5;
    --hov-color: #d9d9d9;
    --color-black: #282A35;
    --purple-title: #b300b3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

.btn--black {
    background-color: var(--color-black);
    color: white;
    border-color: transparent;
    border-radius: var(--border);
    cursor: pointer;
    font-weight: 500;
    text-align: center;
}

.btn--white:hover, .btn--black:hover {
    background-color: #999999;
    color: white;
    border-color: black;
}

.btn--white {
    background-color: white;
    color: black;
    border-color: black;
    border-radius: var(--border);
    cursor: pointer;
    text-align: center;
}
