.category {
    margin-left: 100px;
    margin-right: 100px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.disabled {
    display: none;
}

.category-top {
    padding-top: 50px;
    flex: 1;
    font-size: 120%;
    justify-content: space-between;
}

.category-name {
    font-size: 140%;
    font-weight: 500;
}

.category-top-right>* {
    border-radius: var(--border);
    font-size: 90%;
    padding: 6px 14px;
    cursor: pointer;
}

.category-top-right>select:first-child {
    margin-right: 10px;
}

.category-top-right>*+* {
    margin-right: 28px;
}

#btn-filter {
    color: white;
    background-color: black;

}
#btn-filter:hover {
    background-color: darkgray;
    color: white;
    border: 2px solid black;
}


.category-content {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--product__width), 240px));
    grid-gap: 2rem;
    padding: 1rem;
}

.category-bottom {
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
}

.product__avatar {
    cursor: pointer;
}

.product>div+div {
    margin-top: 2%;
}

.product__avatar>img {
    width: 100%;
    height: var(--product__height);
    object-fit: cover;
    border-radius: var(--border);
    object-position: center;
}

.product__avatar--back {
    display: none;
}

.product__avatar:hover .product__avatar--back {
    display: inline-block;
}

.product__avatar:hover .product__avatar--front {
    display: none;
}

.product__name {
    font-weight: bold;
    font-size: 120%;
}

.product__price {
    white-space: nowrap;
    overflow: hidden;
}

.product__price>span+span {
    margin-left: 2%;
}

.price--normal {
    text-decoration: line-through;
    color: lightgrey;
    font-style: italic;
}

.price--discount {
    color: red;
}
