.cart-content {
    display: flex;
    padding: 20px 40px;
}

.cart-content table {
    border: 1px solid var(--hov-color);
    border-radius: var(--border);
    padding: 20px;
}

.cart-content-left {
    width: 70%;
    padding-right: 25px;
}

.cart-content-left table {
    width: 100%;
    background-color: #ffffff;
}

.cart-content-left th {
    text-transform: uppercase;
    font-size: 16px;
    color: #333333;
    padding: 8px 0;
}

.cart-content-left table tbody {
    display: block;
    height: 62vh;
    overflow: auto;
}

.cart-content-left table>thead,
.cart-content-left table>tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.cart-content-left img {
    height: 190px;
    margin: 16px;
    border-radius: var(--border);
}

.cart-content-left table thead {
    border-bottom: 1px solid var(--hov-color);
}

.cart-content-left td,
p {
    font-size: 15px;
    text-align: center;
}

.soluong {
    width: 39px;
    text-align: center;
}

.cart-content-left-button button {
    padding: 10px 20px;
    margin-top: 20px;
}

.cart-content-left-button button i {
    margin-right: 10px;
}

.close-x {
    padding: 2px 6px;
}

/*---------cart-content-right----------*/
.cart-content-right {
    width: 30%;
}

.cart-content-right table {
    width: 100%;
    height: 150px;
    background-color: #ffffff;
}

.cart-content-right table tbody tr td:last-child  {
    text-align: right;
}

.cart-content-right th {
    font-size: 22px;
    text-align: left;
    font-weight: normal;
}

.cart-content-right td {
    font-size: 19px;
}

.cart-content-right-text p {
    font-size: 19px;
    padding: 15px 0 20px 15px;
    text-align: left;
    background-color: #ffffff;
}

.cart-content-right-button input {
    width: 100%;
    height: 45px;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 25px;
}


.prod_name {
    white-space: nowrap;
    text-transform: capitalize;
}

.prod_size {
    text-transform: uppercase;
}

.prod_col {
    width: 30%;
}

.quantity_col {
    position: relative;
    border-radius: var(--small-border);
    box-sizing: content-box;
    width: 65%;
    margin: auto;
    height: 30px;
    background-color: var(--bg-dark);
    border: 1px solid #43454A;
}

.quantity_col>i {
    position: absolute;
    cursor: pointer;
    top: 50%;
    font-size: 95%;
    transform: translateY(-50%);
}

.fa-minus {
    left: 10%;
}

.fa-plus {
    right: 10%;
}

.quantity_col>input {
    position: absolute;
    text-align: center;
    top: 50%;
    background-color: inherit;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: none;
}

.quantity_col>input:focus {
    outline: none;
}

.quantity_col>input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
