*{
    padding: 0;
    margin: 0;
}
/*---------cart-content-left----------*/
.cart-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-content-left{
    width: 70%;
    padding-right: 25px;
}
.cart-content-left table{
    width: 100%;
    background-color: #ffffff;
}
.cart-content-left th{
    text-transform: uppercase;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    color: #333333;
    padding: 8px 0;
    border-bottom: 1px solid #dddddd;
}
.cart-content-left img{
    width: 140px;
    height: 190px;
    padding: 16px 0;
}
.cart-content-left td{
    border-bottom: 1px solid #dddddd;
}
.cart-content-left td, p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: #4d4d4d;
    text-align: center;
}
.cart-content-left input{
    width: 55px;
}
.cart-content-left-button input{
    width: 170px;
    height: 50px;
    border-top-left-radius: 19px;
    border-bottom-right-radius: 19px;
    margin: 24px 0 12px 35px;
}
/*---------cart-content-right----------*/
.cart-content-right{
    width: 30%;
    margin-bottom: 600px;
}
.cart-content-right table{
    width: 100%;
    height: 260px;
    background-color: #ffffff;
}
.cart-content-right th{
    font-size: 22px;
    text-align: left;
    font-weight: normal;
    font-size: x-large;
}
.cart-content-right td{
    font-size: 19px;
    color: #4d4d4d;
}
.cart-content-right-text p{
    font-size: 19px;
    padding: 15px 0 20px 15px;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    background-color: #ffffff;
}
.cart-content-right-button input{
    width: 100%;
    height: 45px;
    font-size: 20px;
    text-transform: uppercase;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #1a1a1a;
    color: antiquewhite;
    margin-top: 25px;
}
.sizing-right{
    text-align: right;
}