*{
    padding: 0;
    margin: 0;
}
/*---------cart-content-left----------*/
.cart-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-content-left{
    width: 70%;
    height: 180vh;
    padding-right: 25px;
}
.cart-content-left table{
    width: 100%;
    background-color: #ffffff;
}
.cart-content-left th{
    text-transform: uppercase;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333333;
    padding: 8px 0;
    border-bottom: 1px solid #dddddd;
}
.cart-content-left img{
    width: 140px;
    height: 190px;
    padding: 16px 0;
}
.cart-content-left td{
    border-bottom: 1px solid #dddddd;
}
.cart-content-left td, p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #4d4d4d;
    text-align: center;
}
.soluong{
    width: 39px;
    text-align: center;
}
.cart-content-left-button input{
    width: 170px;
    height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    margin: 24px 0 12px 35px;
    font-weight: 600;
}
.close-x{
    width: 25px;
}
.cart-content-left-button input:hover{
    background-color: #CCCCCC;
}
.kichcoSP p{
    text-transform: uppercase;
}
/*---------cart-content-right----------*/
.cart-content-right{
    width: 30%;
    height: 180vh;
}
.cart-content-right table{
    width: 100%;
    height: 260px;
    background-color: #ffffff;
}
.cart-content-right th{
    font-size: 22px;
    text-align: left;
    font-weight: normal;
    font-size: x-large;
}
.cart-content-right td{
    font-size: 19px;
    color: #4d4d4d;
}
.cart-content-right-text p{
    font-size: 19px;
    padding: 15px 0 20px 15px;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    background-color: #ffffff;
}
.cart-content-right-button input{
    width: 100%;
    height: 45px;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #1a1a1a;
    color: antiquewhite;
    margin-top: 25px;
}
.cart-content-right-button input:hover{
    background-color: #CCCCCC;
}
.sizing-right-number{
    text-align: right;
}
.sizing-right-money{
    text-align: right;
}
