.div-left{
    width:20vw;
    height: 100vw;
    background: rgba(0, 0, 0, 0.8);
    
}
.div-right{
    width:80vw;
    height: 100vw;
    background:	#a9a9a954;
    margin-top: 10px;
    margin-left: 10px;
  
    
}
.div-right-top{
    width:80vw;
    height: 5vw;
    background:rgba(0, 102, 255, 0.733);
    z-index: 2;
    position: relative;;
}
.main{
    display: flex;
    top:0;
    left:0;
}
.p-text-trangchu{
    font-size :40px;
    display: inline-block;
    font-weight: 900;
    color: rgba(255, 38, 0, 0.747);
    padding-top: 40px;
    padding-right: 70px;
    padding-left: 50px;

}
.div-text-trangchu{
   text-align: right;
   cursor: pointer;
}
.text-fuction{
    display: inline-block;
    font-size: 25px;
    line-height: 20px;
    cursor: pointer;
    font-weight: 700;
    color: white;
    padding: 20px;
    padding-left: 50px;
    border-bottom: 1px solid #b1154a;
    
}
.icon-user{
    font-size: 30px;
    position: absolute;
    align-items: center;
    display: flex;
    width: 50px;
    height: 50px;
}
.div-icon-user{
    width: 50px;
    height: 50px;
}
.div-text-funtion{

    width: 15vw;
    height: 10vw;
    align-items: center;
    padding-left: 30px;
    margin: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.text{
    border: 5px dashed green;
}