:root {
	--product__width: 160px;
	--product__scale: 1.6;
	--product__height: calc(var(--product__width) * var(--product__scale));
}

html {
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
}

.products__block {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--product__width), 1fr));
	grid-gap: 1.6rem 1rem;
	padding: 1rem;
}

.product {
	font-size: 1.4rem;
}

.product__avatar {
	cursor: pointer;
}

.product > div + div {
	margin-top: 0.5rem;
}

.product__avatar > img {
	width: 100%;
	height: var(--product__height);
	object-fit: cover;
	border-radius: 1rem;
}

.product__avatar--back {
	display: none;
}

.product__avatar:hover .product__avatar--back {
	display: inline-block;
}

.product__avatar:hover .product__avatar--front {
	display: none;
}

.product__name {
	font-weight: bold;
	font-size: 120%;
}

.product__price > span + span {
	margin-left: 0.4rem;
}

.price--normal {
	text-decoration: line-through;
	color: lightgrey;
	font-style: italic;
}

.price--discount {
	color: red;
}