@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.body {
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product__detail {
    display: flex;
}

.product-detail__gallery,
.product-detail__info {
    flex: 50%;
    margin: 20px;
}

.product-detail__gallery,
.product-detail__info {
    border-radius: 1rem;
}

.product-detail__gallery {
    display: flex;
}

.gallery--big {
    flex: 80%;
    border-radius: inherit;
    margin-right: 5px;
}

.gallery--big>img,
.gallery--small>img {
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    object-position: center;
}

.gallery--small {
    flex: 20%;
    border-radius: inherit;
    /*display: flex;
	flex-direction: row;*/
}

.gallery--small>img {
    margin-bottom: 2px;
    cursor: pointer;
}

.product-detail__info {
    font-size: 32px;
}

.product-detail__info>div+div {
    margin-top: 20px;
}

.product-detail__price {
    font-size: 60%;
}

.product-detail__colors>a {
    width: 100%;
    text-decoration: none;
}

.product--checked,
.color--checked {
    border: 1.2px solid darkcyan;
}

.product-detail__colors>a>img {
    width: 6rem;
    height: 2.5rem;
    border-radius: 16px;
    object-fit: cover;
}

.gallery--zoom {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.6);
	transform: scale(0.8);
	opacity: 0;
	pointer-events: none;
}

.show {
	opacity: 1;
	pointer-events: auto;
	transform: scale(1.0);
	transition: transform 0.2s linear;
}

.hide {
    display: none;
}

.gallery__inner {
	width: 32%;
}

.gallery__inner img {
	width: 100%;
}
	
.controller {
	position: fixed;
	font-size: 35px;
	color: white;
}

.controller__exit {
	top: 2%;
	right: 2%;
}

.controller__prev {
	left: 2%;
}

.controller__next {
	right: 2%;
}

.gallery__img > img {
	width: 100%;
}

.product__name {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.product-detail__colors {
    
}

.product__price>span+span {
    margin-left: 4px;
}

.price--normal {
    text-decoration: line-through;
    color: lightgrey;
    font-style: italic;
}

.price--discount {
    color: red;
}

/*@media (max-width: 426px) {
    .gallery--big {
        width: 100%;
        height: 80vh;
    }

    .gallery--small {
        display: flex;
        flex-direction: row;
    }

    .gallery--small > img {
        width: 20%;
    }

    .gallery--small > img + img {
        margin-left: 1vw;
    }
}*/