html {
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
}

.products__block {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(146px, 1fr));
	grid-gap: 1.5rem 1rem;
	padding: 1rem;
}

.product {
	border-radius: 1rem;
	font-size: 1.2rem;
}

.product__avatar {
	border-radius: inherit;
	cursor: pointer;
}

.product > div + div {
	margin-top: 0.4rem;
}

.product__avatar > img {
	width: 100%;	
	object-fit: cover;
	border-radius: inherit;
}

.product__name {
	font-weight: bold;
}

.product__value > span + span {
	padding-left: 0.4rem;
}

.product__add-btn:hover {
	cursor: pointer;
	color: red;
}

.btn--disabled {
	color: lightgrey !important;
	cursor: not-allowed !important;
}

.value--normal {
	text-decoration: line-through;
	font-style: italic;
}

.value--special, .value--discount {
	color: red;
}