.register {
    margin-bottom: 20px;
    font-size: 110%;
    width: 40%;
    background-color: white;
    display: flex;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.4);
    padding: 30px;
    border-radius: var(--border);
}

.account__detail {
    width: 45%;
}

.user__detail {
    width: 55%;
}

.form-group>*:not(.form-message) {
    display: block;
    width: 100%;
}

.form-group>label {
    font-size: 80%;
}

.register .form-group {
    margin-top: 15px;
}

.register input, .register textarea, #btn-register {
    border-radius: var(--small-border);
    padding: 8px 8px 10px 8px;
    font-size: 14px;
}

.register input, .register textarea {
    border: 1px solid #D0C8C8;
    margin-top: 2px;
}

input.invalid, textarea.invalid {
    border-color: red;
}

.form-group .form-message {
    color: red;
    font-size: 70%;
}

input.invalid, textarea.invalid {
    outline: none;
}

.register textarea {
    max-width: 100%;
    min-width: 100%;
}

#btn-register {
    background-color: black;
    color: whitesmoke;
    border-color: transparent;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
}

#btn-register:hover {
    background-color: #a9a9a9;
    color: white;
    border-color: black;
}

.register>div>h2 {
    color: #b300b3;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
    white-space: nowrap;
}

.account__detail {
    margin-right: 60px;
}

section {
    background-color: #d3d3d3;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
