.row{
    display: flex;
    flex-wrap: wrap;
}
/*------------------------delivery-content-left--------------------------*/
.container{
    width: 100%;
}
.delivery{
    margin-top: 30px;
    text-align: center;
    margin-bottom: 100px;
}
.delivery-content h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000066;
    padding-bottom: 15px;
    font-size: xx-large;
    margin-bottom: 30px;
}
.delivery-conten-above{
    margin-left: 19%;
    width: 100%;
    margin-bottom: 100px;
}
.delivery-conten-above table{
    width: 100%;
    text-align: center;
}
.delivery-conten-above label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-bottom: 6px;
    display: block;
}
.delivery-conten-above>p{
    font-weight: bold;
}

.delivery-conten-above-input-1{
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    height: 30px;
}

.delivery-conten-above-input-item{
    font-weight: bold;
    margin-left: 155px;
    margin-right: 35px;
    text-align: center;
}
.delivery-conten-above-input-item input{
    width: 160%;
    border-radius: 6px;
    height: 30px;
    text-align: center;
}
.delivery-conten-above-input-item .thongtinsdt{
    width: 150%;
}
.itemsthongtin1{
    padding-left: 115px;
}
.itemsthongtin2{
    padding-left: 110px;
}
.delivery-conten-above-input-2{
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 15px;
    height: 30px;
}
.delivery-conten-above-input-2-item{
    font-weight: bold;
    margin-left: 153px;
    text-align: center;
}
.delivery-conten-above-input-2-item input{
    width: 167%;
    border-radius: 6px;
    padding-left: 20px;
    height: 30px;
}
.diachigiaohang{
    padding-left: 270px;
}

/*-------------------------delivery-conten-below--------------------------------*/
.delivery-conten-below{
    text-align: center;
    width: 100%;
}
.delivery-conten-below table{
    width: 780px; 
    margin-left: auto; 
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    min-height: 150px;
}
.delivery-conten-below table tr th:first-child{
    text-align: left;
}
.delivery-conten-below table tr th{
    padding-bottom: 12px;
    border-bottom: 2px solid #dddddd;
}
.delivery-conten-below table tr th:last-child{
    text-align: right;
}
.delivery-conten-below table tr td{
    padding: 6px 0;
}
.delivery-conten-below table tr:nth-child(4){
    border-top: 2px solid #dddddd;
}
.delivery-conten-below table tr td:last-child{
    text-align: right;
}
.delivery-conten-below table tr td:first-child{
    text-align: left;
}
.size{
    text-transform: uppercase;
}


/*----------------------------------delivery-content-left-buttom------------------------------*/

.delivery-content-left-button{
    width: 40%;
    float: left;
    margin-top: 12px;
}
.delivery-content-left-button p{
    display: inline-block;
    padding-left: 50px;
    margin-left: 7vh;
}
.delivery-content-left-button button{
    width: 150%;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 10px;
}
.delivery-content-left-button button:hover{
    background-color: black;
    color: #fff;
}
.delivery-content-left-button button:hover{
    background-color: black;
    color: #fff;
}
.delivery-content-left-button button{
    text-align: center;
    height: 45px;
    border: 2px solid black;
    padding-right: 10%;
    cursor: pointer;
    border-radius: 10px;
}


/*-------------------------------delivery-content-right-buttom------------------------*/

.delivery-content-right-button{
    width: 60%;
    float: right;
    margin-top: 12px;
}
.delivery-content-right-button p{
    display: inline-block;
}
.delivery-content-right-button button{
    width: 100%;
    border: 2px solid black;
    padding-left: 17px;
    margin-left: 12vh;
    cursor: pointer;
    border-radius: 10px;
}
.delivery-content-right-button button:hover{
    background-color: black;
    color: #fff;
}
.delivery-content-right-button button{
    text-align: center;
    height: 45px;
    border: 2px solid black;
    padding-right: 10%;
    cursor: pointer;
    border-radius: 10px;
}
