/*body {
    background: rgb(255 235 205);
}*/

/*.row{
    display: flex;
    flex-wrap: wrap;
}*/
/*------------------------delivery-content-left--------------------------*/
.delivery-content-left{
    width: 100%;
    padding-right: 25px;
}
.delivery-content-left table{
    width: 100%;
}
.delivery-content-left p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.delivery-content-left h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkblue;
}
.delivery-content-left label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-bottom: 6px;
    display: block;
}
.delivery-content-left>p{
    font-weight: bold;
}
.delivery-content-login{
    margin-top: 12px;
}
.delivery-content-login p{
    display: inline-block;
}
.delivery-content-login i{
    font-size: 14px;
    margin-right: 12px;
} 
.delivery-content-login button{
    height: 20px;
    border: 2px solid black;
    padding-left: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
}
.delivery-content-login button:hover{
    background-color: black;
    color: #fff;
}
.delivery-content-left-guest{
    margin: 12px 0;
}
.delivery-content-left-guest p{
    display: inline-block;
}
.delivery-content-left-guest input{
    margin-right: 12px;
}
.delivery-content-left-registration{
    margin-bottom: 30px;
}
.delivery-content-left-registration p{
    display: inline-block;
}
.delivery-content-left-registration input{
    margin-right: 12px;
}
.delivery-content-left-input-top{
    justify-content: space-between;
}
.delivery-content-left-input-top-item{
    width: calc(50% - 12px);
}
.delivery-content-left-input-top-item input{
    width: 100%;
    height: 35px;
    border: 1px solid #dddddd;
    padding-left: 6px;
}
.delivery-content-left-input-bottom input{
    width: 49.3%;
    height: 35px;
    border: 1px solid #dddddd;
    padding-left: 6px;
}
/*.delivery-content-left-input-top div{
    display: none;
}
.delivery-content-left-registration.block div{
    display: block;
}*/


/*------------------------delivery-content-right----------------------------*/

.delivery-content-right{
    width: 40%;
    float: right;
    position: sticky;
    bottom: 432px;
    padding-left: 12px; 
    border-left: 2px solid #dddddd;
    height: auto;
}
.delivery-content-right table{
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
}
.delivery-content-right table tr th:first-child{
    text-align: left;
}
.delivery-content-right table tr th{
    padding-bottom: 12px;
    border-bottom: 2px solid #dddddd;
}
.delivery-content-right table tr th:last-child{
    text-align: right;
}
.delivery-content-right table tr td{
    padding: 6px 0;
}
.delivery-content-right table tr:nth-child(4){
    border-top: 2px solid #dddddd;
}
.delivery-content-right table tr td:last-child{
    text-align: right;
}
.delivery-content-right table tr td:first-child{
    text-align: left;
}
.delivery-content-right-buttom{
    text-align: right;
}
.delivery-content-right-buttom p{
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}
.delivery-content-right-buttom span{
    margin-right: 12px;
}
.delivery-content-right-buttom{
    justify-content: space-between;
    padding-top: 20px;
}
.delivery-content-right-buttom button{
    height: 45px;
    border: 2px solid black;
    padding-left: 6px 12px;
    cursor: pointer;
    border-radius: 10px;
}
.delivery-content-right-buttom button:hover{
    background-color: black;
    color: #fff;
}

