html {
    scroll-behavior: smooth;
}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.nav {
    display: inline-block;
}

.nav>li {
    display: inline-block;
}

.nav,
.subnav {
    list-style-type: none;
}

.nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.nav>li:hover>a {
    color: #000;
    background-color: #ccc;
}

.nav-right .subnav li:hover a {
    color: black;
    background: lightgrey;
}

.nav>li:hover>.subnav {
    display: block;
}

.nav>li>a {
    text-transform: uppercase;
    color: #fff;
}

.search {
    display: flex;
    justify-content: space-around;
}

#input-search {
    border: none;
    margin: 0;
    font-size: inherit;
    width: 80%;
    padding: 8px;
}

.search-icon {
    color: white;
    padding: 11px 11px 8px 11px;
    cursor: pointer;
    border: 2px solid lightgrey;
    font-size: inherit;
}

.search-icon:hover {
    background-color: darkgrey;
    color: black;
}

.nav li a {
    line-height: 46px;
    padding: 0 24px;
    font-size: 20px;
    display: inline-block;
}

.nav .subnav a {
    color: #000;
    padding: 0 12px;
    display: block;
    text-align: left;
    font-size: 16px;
}

.canhan:hover {
    background-color: black;
    color: white;
}

.container {
    margin-top: 46px;
    background-color: var(--bg-dark);
    position: relative;
}

.table {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.text-infor1 {
    color: #ee4d2d;
    font-weight: 700;
    text-align: center;
}

.text-info {
    padding: 20px;
    text-align: center;
    font-size: 13px;
}

.div-text {
    padding: 20px 0;
    background-color: #FFF;
}

.text-title {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.text {
    background-color: #FFF;
}

.div-table {
    padding-left: 10px;
    padding-right: 10px;
    width: 70%;
}

.text1:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(204, 204, 204);
    cursor: pointer;
}

.hinhanh_sp {
    height: 150px;
}

.btn-mgg:hover {
    color: #000;
    background-color: #cccccc;
    padding-bottom: 10px;
}

.btn-mgg {
    display: flex;
    z-index: 1;
}

.btn_sp,
.btn-mgg,
.btn_them_insert {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: white;
    background: mediumslateblue;
}

.btn_sp:hover {
    color: #000;
    background-color: #cccccc;
    padding-bottom: 10px;
}

.btn-mgg:hover {
    color: #000;
    background-color: #cccccc;
    padding-bottom: 10px;
}

.header-sp {
    text-align: center;
    padding-bottom: 10px;
}

.header-text-sp {
    font-size: 30px;
    padding-bottom: 10px;
}

.btn-mgg {
    text-align: center;
}

/*---------*/
.div-insert-mgg {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
    display: none;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #e9d8f4;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #58257b;
}

.lb-insert {
    font-size: 15px;
}

.table_mgg {
    width: 600px;
    height: 10px;
    background-color: cadetblue;
    position: absolute;
    bottom: 70px;
    z-index: 0;

}

.table_mgg td {
    padding-left: 5px;
}

.btn_them_insert:hover {
    color: #000;
    background-color: #cccccc;
    padding-bottom: 10px;
}

.div-delete-0 {
    color: white;
    position: relative;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.068);
    top: 0;
    display: none;
    justify-content: center;
    padding: 40px auto;
    z-index: 0;

}

.div-button-them {
    position: absolute;
    text-align: center;
    right: 0px;
    margin-top: 50px;
}

.div-text {
    text-align: center;
    line-height: 44px;
}

.div-button-close {
    font-size: 15px;
    padding: 5px;
    right: 30%;
    position: absolute;
    top: 10px;
}

.div-button-close:hover {
    background-color: #ccccccc9;
}

/*
 thong bao -xoa
*/
.div-delete {
    width: 500px;
    height: 96px;
    position: absolute;
    display: none;

}

.thongbao {
    background-color: white;
    padding: 25px;
    display: flex;
    justify-content: center;
    padding: 25px;

}

.table_thongbao {
    display: none;
}

.text-thongbao {
    font-weight: 700;
}

.btn-message-delete {
    display: flex;
    justify-content: center;
}

.btn-message {
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    cursor: pointer;
}

.btn-mesage-agree {
    background-color: #ee4d2d;
    color: white;
}

.btn-mesage-cancel {
    background-color: #DFDDDD;
}

.btn-mesage-agree:hover {
    background-color: #ee4d2de0;
}

.btn-mesage-cancel:hover {
    background-color: #cccccce8;
}

.close-xoa-mgg {
    bottom: 50px;
}

.close-x {
    background-color: LightSalmon;
    border: none;
    color: white;
    padding: 3px 11px 7px 11px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.size {
    text-transform: uppercase;
}

.order-container {
    display: flex;
}

.order-info {
    width: 70%;
}

.order-detail-info {
    width: 30%;
}

.selected {
    background: var(--hov-color);
}
