#Slider {
    position: relative;
}

.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 40%;
    transition: 0.5s;
}

.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.dot-container {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}

/*-------------------app----------*/
.app-container {
    text-align: center;
    align-items: center;
    padding: 80px 0 50px 0;
}

.app-google {
    margin: 50px;
}

.app-google img {
    height: 50px;
}

.app-container p {
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 17px;
    color: #000;
    font-weight: bold;
}

.app-container input {
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    width: 400px;
    text-align: center;
    outline: none;
}
